.heading {
  backface-visibility: hidden;
  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    height: 10rem;
    width: 100%;
    text-align: center;
    }
  &-secondary {
    @include respond(43.75em) {
      margin-top: 1rem;
      font-size: 3rem;
      line-height: 3.5rem;
    }
    position: relative;
    margin-top: -2rem;
  }
}
.lets-build-button {
  animation: moveInBottom 1s ease-out;
  -webkit-animation: moveInBottom 1s ease-out;
  backface-visibility: hidden;
  cursor: pointer;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 200;
  width: 28rem;
  @include respond(31.25rem) {
    width: 23rem;
  }
  height: 5rem;
  color: #65abb6;
  border-color: #65abb6;
  border-width: thin;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  -webkit-appearance: none;
    -moz-appearance: none;
  box-shadow: 0 2rem 4rem rgba(#000, .2);
}
.fromRight {
  margin-top: -1rem;
  @media (min-width: 53rem) {
    animation: moveInRight 1.25s ease-out;
  }
  h2 {
    @include respond(31.25rem) {
      font-size: 3rem;
      margin-top: -1.5rem;
    }
  }
}
.fromLeft {
  @media (min-width: 53rem) {
    animation: moveInLeft 1.25s ease-out;
  }
}

.designer {
  width: 80%;
  text-align: center;
  color: #65abb6;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: underline;
  font-size: 1.75rem;
  &-popup {
    font-size: 2.5rem;
      @media (max-width: 47rem) {
        padding-bottom: 3rem;
      }
  }
}
