.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.5);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    &--cancel {
      position: absolute;
      top: 3rem;
      right: 3rem;
      font-weight: 200;
    }
    h1 {
      text-align: left;
      font-size: 2.5rem;
    }
    p {
      padding: 0 2rem;
      color: #747474;
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 200;
      @include respond(43.75em) {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
    width: 80%;
    @include respond(43.75em) {
      width: 95%;
    }
    height: 53rem;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(0,0,0, 0.88);
    &--transparent {
      width: 100%;
      background-color: rgba(116,116,116, 0.3);
    }
    box-shadow: 0 2rem 4rem rgba(#000, .2);
    @include absCenter;
    @include respond(43.75em) {
      bottom: 0;
    }
    &--about {
      padding: 4rem 6rem 0 ;
      @include respond(43.75em) {
        padding: 8rem 1.25rem 0;
      }

    }
    &--tools {
      text-align: center;
      padding: 2rem 6rem;
      @include respond(43.75em) {
        padding: 2rem 1.25rem;
      }

    }
    &--work {
      padding: 0 6rem;
      @include respond(43.75em) {
        padding: 0 1.25rem;
      }
    }
  }
}

.tools-img {
  padding-top: 2rem;
  width: 75%;
}
