<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134696483-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134696483-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1">
    <title>Rick Heffren Full Stack Web Development and Design</title>
    <link rel="icon" type="image/png" href="https://www.rickheffren.com/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://www.rickheffren.com/img/favicon-16x16.png" sizes="16x16" />
    <meta name="robots" content="index, nofollow" />
    <meta name="description" content="I'm a web developer / designer who builds websites from back to front.  From simple landing pages to multi-page complex web apps, hosting and more.">
    <meta property="og:title" content="Rick Heffren Full Stack Web Development and Design">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.rickheffren.com">
    <meta property="og:image" content="https://www.rickheffren.com/img/og.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:alt" content="I love to code">
    <meta property="og:description" content="I'm a web developer / designer who builds websites from front to back.  From simple landing pages to multi-page complex web apps, hosting and more.">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="page-container">
        <div class="header">
          <!-- <p class="logo">  RickHeffren.com</p> -->
          <a href="#menu">
            <img class="hamburger-menu" src="/img/hamburger.svg" alt="hamburger menu">
          </a>
          </div>
      </div>
    </header>
    <main>
      <div class="heading-container">
        <div class="fromLeft">
          <span class="heading-tagline">I </span><span class="heading-heart">❤️</span><span class="heading-tagline"> to code.</span>
        </div>
        <div class="fromRight">
          <h1>Full Stack Developer</h1><br>
          <h2 class="heading-secondary">
            Design • Develop • Deploy
          </h2>
        </div>

        <a href="/questionnaire">
        <button class="lets-build-button"> let's build your website </button>
        </a>
        <img class="arrow" src="/img/arrow-1.svg" alt="arrow">
      </div>
    </main>
    <div id="menu" class="popup">
      <div class="popup__content">
        <div class="popup__content popup__content--transparent">
          <a href="#"><img class="popup__content--cancel"src="/img/x.svg" alt="cancel"></a>
          <div class="popup__content--about">
            <span class="heading-text">  About Me</span>
            <p>Hi, my name is Rick Heffren. I’ve been building and programming computers since the late 80's when I built my first 8086 IBM compatible pc. I have experience programming with various languages and platforms.  Whether you're looking for a simple editable landing page that you can keep up to date on the fly or a complex multi page site that interacts with your customers in any imaginable way, I'm your guy!  Let me build you next website.</p>
          </div>
          <div class="popup__content--tools">
            <span class="heading-text left">  My Tools</span>
            <img class="tools-img"src="/img/tool-group.svg" alt="tools">
          </div>
          <!-- <div class="popup__content--work">
            <span class="heading-text">  Latest Project</span>
            <p>
              <a href="http://www.dosage.vet" target="_blank">• www.dosage.vet</a><br>
            </p>
            <a href="mailto:inquiries@rickheffren.com?subject=Inquiry about services" class="designer designer-popup">Contact Me</a>
          </div> -->
        </div>
      </div>
    </div>
    <a href="mailto:inquiries@rickheffren.com?subject=Inquiry about services" class="designer">Looking to add functionality to an existing site, or are you a designer looking for a developer?</a>

  </body>
</html>
