<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1">
    <title>Rick Heffren Web Developer</title>
    <meta name="description" content="Full stack web developer and designer">
    <meta property="og:title" content="Rick Heffren Full Stack Web Development and Design">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.rickheffren.com">
    <meta property="og:image" content="http://www.rickheffren.com/img/og.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:alt" content="I love to code">
    <meta property="og:description" content="Rick Heffren Full Stack Web Development and Design">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="page-container">
        <div class="header">
          <p class="logo">  Rick Heffren</p>
          <a href="#menu">
            <img class="hamburger-menu" src="/img/hamburger.svg">
          </a>
          </div>
      </div>
    </header>
    <main>
      <div class="heading-container">
        <h1>I <span class="heart">❤️</span> to code.</h1>
        <h2 class="heading-secondary">
          Full Stack - 3D<br>
          Design • Develop • Deploy
        </h2>
        <a href="/questionnaire">
        <button class="lets-build-button"> let's build your website </button>
        </a>
        <img class="arrow" src="/img/arrow-1.svg" alt="arrow">
      </div>
    </main>
    <div id="menu" class="popup">
      <div class="popup__content">
        <div class="popup__content popup__content--transparent">
          <a href="#"><img class="popup__content--cancel"src="/img/x.svg" alt="cancel"></a>
          <div class="popup__content--about">
            <h1>About</h1>
            <p>Hi, I’m Rick. I’ve been building and programming computers since I built my first
              IBM 8086 pc as a kid back in the 80’s. I have experience programming in various languages
              such as objective c, swift, c++, c and javascript. These days I’m focused heavily on full
              stack web development. I'd love the opportunity to work on your next web project</p>
          </div>
          <div class="popup__content--tools">
            <h1>My Tools</h1>
            <img class="tools-img"src="/img/tool-group.svg" alt="tools">
          </div>
          <div class="popup__content--work">
            <h1>Latest Project</h1>
            <p>
              <a href="http://www.dosage.vet" target="_blank">• www.dosage.vet</a><br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
