<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1">
    <title>Rick Heffren Web Developer</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="questions">
      <h1 class="question-heading">  Tell me about your perfect website...</h1>
      <a class="question-link" href="/"><img class="question-cancel"src="/img/x.svg" alt="cancel"></a>
      <div class="blue-circle"></div>
        <div class="question-answer">
          <img src="/img/small-orange.svg" alt="question bubble" class="question">
          <div class="circle circle-question">
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line5-q left-q"></div>
            <div class="line5-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div>Are we building this website for a business or is it more of a personal site?</div>
          </div>
          <img src="/img/rick.png" alt="Rick Heffren" class="rick">
          <img src="/img/large-orange.svg" id="first" alt="answer bubble" class="answer">
          <div class="circle">
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line5 left"></div>
            <div class="line5 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            Tell me about what you do... <span class="small">  Click below here to answer.</span>
            <div contenteditable class="edit" id="question-one"></div>
          </div>
          <p class="you">  You</p>
        </div>
        <div class="question-answer">
          <img src="/img/small-orange.svg" alt="question bubble" class="question">
          <div class="circle circle-question">
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line5-q left-q"></div>
            <div class="line5-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div>What specific services do you provide and who is your target audience?</div>
          </div>
          <img src="/img/rick.png" alt="Rick Heffren" class="rick">
          <img src="/img/large-orange.svg" alt="answer bubble" class="answer">
          <div class="circle">
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line5 left"></div>
            <div class="line5 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            I provide... for...
            <div contenteditable class="edit" id="question-two"></div>
          </div>
          <p class="you">  You</p>
        </div>
        <div class="question-answer">
          <img src="/img/small-orange.svg" alt="question bubble" class="question">
          <div class="circle circle-question">
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line5-q left-q"></div>
            <div class="line5-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div>Is there something that sets your offerings apart from any competing offerings?</div>
          </div>
          <img src="/img/rick.png" alt="Rick Heffren" class="rick">
          <img src="/img/large-orange.svg" alt="answer bubble" class="answer">
          <div class="circle">
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line5 left"></div>
            <div class="line5 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            We have the greatest...
            <div contenteditable class="edit" id="question-three"></div>
          </div>
          <p class="you">  You</p>
        </div>
        <div class="question-answer">
          <img src="/img/small-orange.svg" alt="question bubble" class="question">
          <div class="circle circle-question">
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line5-q left-q"></div>
            <div class="line5-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div>Do you currently have a website?  If so why do you want a new one and what do you love/dislike about your current site?</div>
          </div>
          <img src="/img/rick.png" alt="Rick Heffren" class="rick">
          <img src="/img/large-orange.svg" alt="answer bubble" class="answer">
          <div class="circle">
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line5 left"></div>
            <div class="line5 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            Tell me about it...
            <div contenteditable class="edit" id="question-four"></div>
          </div>
          <p class="you">  You</p>
        </div>
        <div class="question-answer">
          <img src="/img/small-orange.svg" alt="question bubble" class="question">
          <div class="circle circle-question">
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line5-q left-q"></div>
            <div class="line5-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div>What keywords will your target audience use to find your website?</div>
          </div>
          <img src="/img/rick.png" alt="Rick Heffren" class="rick">
          <img src="/img/large-orange.svg" alt="answer bubble" class="answer">
          <div class="circle">
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line5 left"></div>
            <div class="line5 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            They'll search phrases like...
            <div contenteditable class="edit" id="question-five"></div>
          </div>
          <p class="you">  You</p>
        </div>
        <div class="question-answer">
          <img src="/img/small-orange.svg" alt="question bubble" class="question">
          <div class="circle circle-question">
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line5-q left-q"></div>
            <div class="line5-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div>What similar sites do you like and what do you like about them?</div>
          </div>
          <img src="/img/rick.png" alt="Rick Heffren" class="rick">
          <img src="/img/large-orange.svg" alt="answer bubble" class="answer">
          <div class="circle">
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line5 left"></div>
            <div class="line5 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            I came across this site and it was amazing! ...
            <div contenteditable class="edit" id="question-six"></div>
          </div>
          <p class="you">  You</p>
        </div>
        <div class="question-answer">
          <img src="/img/small-orange.svg" alt="question bubble" class="question">
          <div class="circle circle-question">
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line5-q left-q"></div>
            <div class="line5-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div>What features will your website need?</div>
          </div>
          <img src="/img/rick.png" alt="Rick Heffren" class="rick">
          <img src="/img/large-orange.svg" alt="answer bubble" class="answer">
          <div class="circle">
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line5 left"></div>
            <div class="line5 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            We're going to need: 1... 2... 3... 4...
            <div contenteditable class="edit" id="question-seven"></div>
          </div>
          <p class="you">  You</p>
        </div>
        <div class="question-answer">
          <img src="/img/small-orange.svg" alt="question bubble" class="question">
          <div class="circle circle-question">
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line5-q left-q"></div>
            <div class="line5-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div>Do you have a logo and or branding?  Will you need a new URL?</div>
          </div>
          <img src="/img/rick.png" alt="Rick Heffren" class="rick">
          <img src="/img/large-orange.svg" alt="answer bubble" class="answer">
          <div class="circle">
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line5 left"></div>
            <div class="line5 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            www.your-awesome-website.com ...
            <div contenteditable class="edit" id="question-eight"></div>
          </div>
          <p class="you">  You</p>
        </div>
        <div class="question-answer">
          <img src="/img/small-orange.svg" alt="question bubble" class="question">
          <div class="circle circle-question">
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line5-q left-q"></div>
            <div class="line5-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div>Would you like me to handle hosting and maintenance?</div>
          </div>
          <img src="/img/rick.png" alt="Rick Heffren" class="rick">
          <img src="/img/large-orange.svg" alt="answer bubble" class="answer">
          <div class="circle">
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line5 left"></div>
            <div class="line5 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            What works best for you? ...
            <div contenteditable class="edit" id="question-nine"></div>
          </div>
          <p class="you">  You</p>
        </div>
        <div class="question-answer">
          <img src="/img/small-orange.svg" alt="question bubble" class="question">
          <div class="circle circle-question">
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line5-q left-q"></div>
            <div class="line5-q right-q"></div>
            <div class="line4-q left-q"></div>
            <div class="line4-q right-q"></div>
            <div class="line3-q left-q"></div>
            <div class="line3-q right-q"></div>
            <div class="line2-q left-q"></div>
            <div class="line2-q right-q"></div>
            <div class="line1-q left-q"></div>
            <div class="line1-q right-q"></div>
            <div>What is your budget for this website and what is your deadline for completion?</div>
          </div>
          <img src="/img/rick.png" alt="Rick Heffren" class="rick">
          <img src="/img/large-orange.svg" alt="answer bubble" class="answer">
          <div class="circle">
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line5 left"></div>
            <div class="line5 right"></div>
            <div class="line4 left"></div>
            <div class="line4 right"></div>
            <div class="line3 left"></div>
            <div class="line3 right"></div>
            <div class="line2 left"></div>
            <div class="line2 right"></div>
            <div class="line1 left"></div>
            <div class="line1 right"></div>
            Help me understand the scope of the project ...
            <div contenteditable class="edit" id="question-ten"></div>
          </div>
          <p class="you">  You</p>
        </div>
        <div class="light-blue-circle"></div>
      </div>
      <div class="input-boxes">
        <h2> Please enter the email that you'd like to be reached at:</h2>
        <input type="email" required id="email" class="input">
        <h2>  Last but certainly not least, your name:</h2>
        <input type="text" required id="name" class="input">
        <p>  Thank you so much for taking the time to fill out this lengthy questionnaire.
          We've already taken the first big step towards creating your amazing new website! <br> <br>
          I look forward to reviewing the info above and sharing some of my ideas with you.
        </p>
        <div class="submit-container">
          <button onclick="send()" type="submit" class="submit-button"> Let's get started!</button>
        </div>
      </div>

    </section>
  </body>
  <script src="/script.js" type="text/javascript">

  </script>
</html>
