body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #fff;

}

h1 {
  font-size: 8rem;
  font-weight: 200;
  .heart {
    font-size: 4.8rem;
  }
  animation: moveInLeft 1.25s ease-out;
}

h2 {
  color: #747474;
  font-weight: 200;
  font-size: 4rem;
  line-height: 5rem;
  animation: moveInRight 1.25s ease-out;
}
